*{
margin : 0px;
}

input:invalid{
	border:1px solid red;
}
.boxCss{
	display:flex;
	margin: 10px 10px;	
	
}


.msgCss{
	width: 25%;
    text-align: center;
    background-color: #a7dff7;
	
}

.msgImg{
	display:none;
}
.warning{
	
	width: 25%;
    text-align: center;
}

.info{
	
	width: 50%;
    text-align: center;
}

.error{
	
	margin: 10px 10px;
}